body {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
}

p.stage-direction {
    font-style: italic;
    margin-left: 2%;
    margin-right: 50%;
    padding: 5px;
    border-left: 2px solid #5d1f75;
}

p.dialogue {
    margin: 20px;
}

span.speaker {
    font-weight: 900;
}

span.japanese {
    margin-left: 10px;
}

span.english {
    margin-left: 3%;
}

p.center {
    margin-left: 2%;
    margin-right: 50%;
    text-align: center;
}

/* add music notes (and space) before and after the text in the element, centering everything */
p.lyric {
    margin-left: 2%;
    margin-right: 50%;
    text-align: center;
}

p.lyric::before {
    content: "♫　"
}

p.lyric::after {
    content: "　♫"
}

/* format chapter headers */

th.chapter-start {
    font-size: 175%;
    font-weight: 900;
    padding: 25px;
}

td.chapter-title {
    font-size: 175%;
    font-weight: 900;
    padding: 25px;
}

td.chapter-title::before {
    content: "〜 ";
}

td.chapter-title::after {
    content: " 〜";
}

/* static text */
div.static-text li {
    font-style: italic;
}


span.highlight-item {
    font-weight: 900;
    color: #00d000;
}

span.highlight-location {
    font-weight: 900;
    color: #e00000;
}

p.next-button {
    margin: 25px;
    padding: 10px;
    text-align: right;
}

div.assignment-head {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #333;
    font-weight: 900;
}

div.assignment-head.start {
    background-color: #fffad8;
    border: 3px solid #ffe3a9;
}

div.assignment-head.complete {
    background-color: #c6effc;
    border: 3px solid #b8e7f9;
}

div.tabbed-container {
    background-color: #aaa;
}